<div class="new-blog" ng-show="show1">
<h2>Add a Resource</h2>
<form class="new-form" ng-submit="blgCtrl.createBlog(blgCtrl.newBlog)">
  <input class="input_type" type="text"  placeholder="category (ex. AJAX, CSS, HTML, Jquery )" ng-model="blgCtrl.newBlog.blogType" required/> <br>
  <input class="input_title" type="text"  placeholder="title" ng-model="blgCtrl.newBlog.title" required/><br>
    <input class="input_title" type="text"  placeholder="description" ng-model="blgCtrl.newBlog.description" /><br>
  <input class="input_body" type="text"  placeholder="url to resource" ng-model="blgCtrl.newBlog.link" required/><br>
  <input class="input_author"type="text"  placeholder="author" ng-model="blgCtrl.newBlog.author"/><br>
<button type="submit">POST</button>
</form>
</div>
